<form {{action "saveEdit" content.id on="submit"}}>
  <div class="row">
    <div class="small-12 medium-8 large-6 large-centered medium-centered columns">
      <p class="panel">
      <div class="row">
        <div class="large-centered medium-centered columns">
          <h4>Edit Group</h4>
          <div class="row collapse">
            <div class="small-12 columns">
              <label>Group Name
                {{input value=content.name class="error" type="text" placeholder=content.name}}
              </label>
              {{#if hasError}}
                <small class="error">{{errorMessage}}</small>
              {{else}}
                <div class="spacer">&nbsp;</div>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-centered medium-centered columns">
          <div class="row collapse">
            <div class="small-12 columns">
              <label>Group Description
                {{input value=content.description class="error" type="text" placeholder=content.description}}
              </label>
              {{#if hasError}}
                <small class="error">{{errorMessage}}</small>
              {{else}}
                <div class="spacer">&nbsp;</div>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-centered medium-centered columns">
          <div class="row collapse">
            <div class="small-12 columns right">
            {{#if isSubmittingEditedGroup}}
            <button class="tiny secondary right" disabled {{action "cancelEdit"}}>Cancel</button>
            <button class="tiny right console-cancel" type="submit">Save&nbsp;<i class="fa fa-spinner fa-pulse"></i></button>
            {{else}}
              <button class="tiny secondary right" {{action "cancelEdit"}}>Cancel</button>
              <button class="tiny right console-save" type="submit">Save</button>
            {{/if}}
            </div>
          </div>
        </div>
      </div>
    </p>
    </div>
  </div>
</form>


{{outlet}}
